#nav-cont {
	background-color: white;
}

#photosbanner {
	background-color: white;
}


.site-heading {
	padding:180px 0px 30px !important; 
}

.nGY2 .nGY2GThumbnailIcon {
	text-shadow: rgba(0,0,0,0.5) 0px 2px 4px !important;
}


.nGY2 .nGY2ViewerToolsTopRight, .nGY2 .nGY2ViewerToolsTopLeft {
	border-radius: 30px;
	padding: 0px 16px;
}



.nGY2GThumbnail {
	border-radius: 12px;
}


.nGY2 .toolbar .ngbt {
	font-size: 1.3em !important;
}

.toolbar .ngbt .title {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-style: italic;
}

.nGY2 .nGY2GThumbnail, .nanogallery_gallerytheme_dark_my_nanogallery2 .nGY2TnImgBack {
	background-color: white !important;
	background: white !important;
	background-image: none !important;
}



@media only screen and (max-width: 500px) {
.nGY2GThumbnail {
	border-radius: 8px;
}
.subheading {
	padding-bottom: 24px !important; 
}



}
